body{
    /* 插入背景图片 */
    background-image: url(../img/background/beijing3.png);
    background-size: 100% 100%;
    background-attachment: fixed;
     /* 去掉浏览器默认的8px的间隙 */
    margin: 0;
}

/* 定义公告类inner，用来放置内容区，内容区宽度固定，居中。凝胶布局的关键代码！ */

.inner{
    /* 设置元素的高度*/
    height: 100%;
    width: 900px;
    /* 为了美观，在元素左方留出一定的间隙*/
    margin-left: auto;
    /* 为了美观，在元素右方留出一定的间隙*/
    margin-right: auto;
    /* 设置背景的不透明度 */
    background-color: rgba(255,255,255,0.3);
}

/* 页眉页header */

#header{
    /* 设置元素的高度*/
    height: 170px;
    /* 为了美观，设置元素中的文本居中对齐*/
    text-align: center;
}

#header_title{
    /* 设置元素的高度*/
    height: 140px;
     /* 为了美观，在元素上方留出一定的间隙*/
    margin-top: 30px;
}

/* 导航区nav */

#nav{
    /* 设置元素的高度*/
    height:60px;
}

.navbar{
    width:100%;
    /* 设置元素的高度*/
    height:60px;
    font-family: "Microsoft Yahei";
	font-size:16px;
	font-size:normal;
	color:#fff;
}

.wp_nav{
    width:100%;
    /* 设置元素的高度*/
	height:30px;
    margin:0;
     /* 为了美观，在元素上方留出一定的间隙*/
    margin-top: 30px;
	padding:0;
    list-style-type:none;
    /* 布局的关键代码，浮动字符*/
    float:left;
    font-family: "Microsoft Yahei";
	font-size:16px;
	font-size:normal;
	color:#fff;
}

.nav-item{
    /* 设置元素的高度*/
    height: 100%;
    /* 布局的关键代码，浮动字符*/
    float:left;
    font-family: "Microsoft Yahei";
	font-size:16px;
	font-size:normal;
	color:#fff;
}

a{
	font-family: "Microsoft Yahei";
	font-size:16px;
	font-size:normal;
	color:#fff;
}


#nav1,#nav2,#nav3,#nav4{
    padding: 0 48px;
    /* 设置元素的高度*/
	height:28px;
}

/* 1号内容区container_1 */

#container_1{
    /* 设置元素的高度*/
    height:auto;
}

.con_1_1{
    width: 700px;
    /* 为了美观，在元素左方留出一定的间隙*/
    margin-left: 100px;
    padding-top: 80px;
    /* 设置元素的高度*/
    height: 90px;
}

#con_1_1_1_pic{
    /* 设置元素的高度*/
    height: 55px;
}

.con_1_2{
    /* 设置背景的不透明度 */
    background-color: rgba(255,255,255,0.5);
    width: 700px;
    /* 为了美观，在元素左方留出一定的间隙*/
    margin-left: 100px;
    /* 设置元素的高度*/
    height: 180px;
}

.con_1_2_1{
    padding: 15px 30px;
}

.con_1_2_1_txt{
    letter-spacing:1px;
    line-height: 28px;
    text-indent: 2em;
}

.con_1_2_2_txt{
    letter-spacing:1px;
    line-height: 28px;
    text-indent: 2em;
}

.con_1_3{
    width: 700px;
    /* 为了美观，在元素左方留出一定的间隙*/
    margin-left: 100px;
    padding-top: 50px;
    /* 设置元素的高度*/
    height: 2400px;
}

#con_1_3_1_pic{
    /* 设置元素的高度*/
    height: 60px;
    padding-left: 215px;
    padding-bottom: 10px;
}

.table{
    border: solid #fff;
    border-width: 1px 0px 0px 1px;
    /* 设置背景的不透明度 */
    background-color: rgba(255,255,255,0.2);
    width: 90%;
    margin: 0 35px;
    /* 为了美观，设置元素中的文本居中对齐 */
    text-align: center;
}

.td{
    border: solid #fff;
    border-width: 0px 1px 1px 0px;
    padding: 2px 10px;
}

.title_text{
    /* 为了美观，将字体加粗 */
    font-weight: bold;
    padding: 5px 0;
    color: #333;
}

.introduction_text{
    text-indent: 2em;
    /* 为了美观，设置元素中的文本靠左对齐 */
    text-align: left;
}

#con_1_4_pic{
    width: 300px;
    /* 为了美观，在元素左方留出一定的间隙 */
    margin-left: 550px;
    /* 为了美观，在元素下方留出一定的间隙 */
    margin-bottom: 30px;
}

/* 页脚区footer */

#footer{
    /* 设置元素的高度 */
    height: 22px;
}

.copy_text{
    /* 为了美观，设置元素中的文本居中对齐 */
    text-align: center;
    /* 设置背景的不透明度 */
    background-color: rgba(255,255,255,0.3);
    /* 为了美观，将字体加粗 */
    font-weight: bold;
}